/* body * {border: 1px solid red;} */
/* body * {border: 1px solid red;} */
body {
    /* background-color: #000; */
    color: #fff;
    text-align: center;
    /* margin-top: 200px; */
    width: 90%;
    margin-left: 5%;
}

.left-pane {
    float: left;
    width: 30%;
    text-align: left;
    border: 1px solid #dbd8bc;
    background-color: #f8f8eb;
    border-radius: 3px;
    font-size: 15px;
    padding: 13px 10px 13px 10px;
    margin-bottom: 7px;
}

.left-pane a {
    text-decoration: none;
}

.right-pane {
    text-align: left;
    float: right;
    width: 62%;
    border: 1px solid #bcd8db;
    background-color: #EBF8F2;
    border-radius: 3px;
    font-size: 15px;
    padding: 13px 10px 13px 10px;
    margin-bottom: 7px;
}

.animation {
    animation-name: light;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes light {
    0% {

    }

    100% {
        background-color: #fff;
        color: #000;
    }
}

button {
    margin-top: 20px;
    margin-bottom: 60px;
    height: 45px;
    font: 15px/1 Helvetica, Arial, sans-serif;
    color: #512b2b;
    background-color: #ebe7e2;
    border: 1px solid #fff;
    /* margin: 0; */
    /* float: left; */
    padding: 1px 40px;
    transition: background-color .3s ease-out;
}

button:hover {
    background-color: #fdc129;
}

.row {
    display: block;
    margin: 20px 0;
    /* width: 600px; */
}

.content {

}

.hide {
    display: none;
}